<div class="w-full container mx-auto p-6">
  <div class="w-full flex items-center justify-between">
    <a
      href="https://shardeum.org/"
      class="flex items-center hover:text-white-300 text-white-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
    >
      <img
        src="../assets/images/logo.png"
        class="h-8 pr-2"
        viewbox="0 0 20 20"
      />
      Shardeum
    </a>
    <div class="flex w-1/2 justify-end content-center">
      <button
        class="m-4 h-12 w-72 text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2 transition hover:scale-105 transform duration-300 ease-in-out"
        (click)="walletConnected ? displayWalletStatus() : connectWallet()"
      >
        <div class="flex items-center">
          <div class="w-1/8 items-center">
            <app-fox></app-fox>
          </div>

          <div *ngIf="!walletConnected" class="text-center">
            <p class="pl-8 pr-5">Connect with Metamask</p>
          </div>
          <div *ngIf="walletConnected" class="text-center">
            <p class="pl-12 pr-10">
              {{
                walletAddress.substring(0, 10) +
                  "..." +
                  walletAddress.substring(walletAddress.length - 4)
              }}
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>
